templates/__pycache__/__init__.cpython-38.pyc
templates/__pycache__/card_deck.cpython-38.pyc
templates/__pycache__/index.cpython-38.pyc
templates/__pycache__/prediction.cpython-38.pyc
__pycache__/app.cpython-38.pyc
